<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
       body {
        background-color: #f8f9fa;
       }

      .card {
        border-radius: 20px;
        transition: 0.3s;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      }

     .card:hover {
        transform: translateY(-5px);
     }

     .table {
        background-color: white;
     }
     th {
        text-align: center;
     }

     td {
       text-align: center;
     }

    .table {
       background-color: white;
     }

    </style>

</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-danger">
    <div class="container">

        <h3 class="text-white">
            🩸 Admin Dashboard
        </h3>

        <a href="/" class="btn btn-light">
            Home
        </a>

    </div>
</nav>

<div class="container mt-5">

    <h2 class="text-center text-danger mb-4">
        🩸 Blood Bank Admin Dashboard
    </h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Total Users</h5>
                    <h2>{{ total_users }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Total Donors</h5>
                    <h2>{{ total_donors }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Available Donors</h5>
                    <h2>{{ available }}</h2>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <h3>Registered Donors</h3>

    <h3 class="mt-5 mb-3">
          📋 Registered Donors
    </h3>

    <table class="table table-bordered table-hover">

        <tr class="table-danger">
            <th>Name</th>
            <th>Blood Group</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Status</th>
        </tr>

        {% for donor in donors %}

        <tr>
            <td>{{ donor.donor_name }}</td>
            <td>{{ donor.blood_group }}</td>
            <td>{{ donor.city }}</td>
            <td>{{ donor.mobile }}</td>
            <td>{{ donor.available }}</td>
        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>